<div class="RestaurantOwner">
    <!-- Default form login -->
      <form class="text-center border border-light p-5">
  
          <p class="h4 mb-4">Inscription</p>  
            
          <div class="icon button">
          <a button mdbBtn type="button" block="true" outline="true" color="default" mdbWavesEffect>
              <mdb-icon fab icon="google"></mdb-icon> sign in with google
         </a>
             <br>
             
          <a button mdbBtn type="button" block="true" outline="true" color="default" mdbWavesEffect>
              <mdb-icon fab icon="facebook"></mdb-icon> sign in with facebook
          </a>
             <br>
        </div>
            
        <div class="row">
            <div class="col-lg-5"> <hr> </div>
            <div class="col-lg-1 text-center"> ou </div>
            <div class="col-lg-5"> <hr> </div>
         </div>
           <br>
           
           <input type="text"  class="form-control mb-4" placeholder="FirstName">

          <input type="text"  class="form-control mb-4" placeholder="LastName">
      <!-- Email -->
             <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
    
      <!-- Password -->
             <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
        
         <!-- Sign in button -->
            <button mdbBtn color="info" block="true" class="my-4" type="submit">Continuer</button>

            <p>vous avez déja un compte?
                <a  routerLink="/connecter" routerLinkActive="active">connexion</a>
              </p>
          
        </form>
         </div>