<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">

              <!-- Default form login -->
            <form class=" border border-light p-5">
  
                            <p class="h4 mb-4">Inscription</p>  
            
                            <div class="icon button">
                                <a button mdbBtn type="button" block="true" outline="true" color="default" mdbWavesEffect>
                                     <mdb-icon fab icon="google"></mdb-icon> sign in with google
                                </a> 
                                <a button mdbBtn type="button" class="my-2" block="true" outline="true" color="default" mdbWavesEffect>
                                      <mdb-icon fab icon="facebook"></mdb-icon> sign in with facebook
                                </a>
             
                            </div>
            
                            <div class="row">
                                 <div class="col-lg-5"> <hr> </div>
                                 <div class="col-lg-1 text-center"> ou </div>
                                 <div class="col-lg-5"> <hr> </div>
                             </div>
                <div class="form-group">
                         <label>Prénom*</label>
                            <input type="text"  class="form-control mb-4" placeholder="Votre prénom ici">
                </div>
                <div class="form-group">
                       <label>Nom*</label>
                             <input type="text"  class="form-control mb-4" placeholder="Votre nom ici">
                </div>
             <!-- Email -->
                <div class="form-group">
                         <label>Email*</label>
                             <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Votre adresse mail ici">
                </div>
             <!--phone-->
                <div class="form-group">
                        <label>Téléphone portable*</label>
                            <input type="number"  class="form-control mb-4" placeholder="votre numéro ici">
                </div>
             <!-- Password -->
                <!-- <div class="form-group">
                         <label>Mot de passe*</label>
                            <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Votre mot de passe">
                </div> -->
             <!--nom du restaurant-->
                <div class="form-group">
                        <label>Nom de mon restaurant*</label>
                            <input type="text"  class="form-control mb-4" placeholder=" Le nom de mon restaurant ici">
                </div>
             <!--adresse-->
                <div class="form-group">
                        <label>Adresse*</label>
                            <input type="address"  class="form-control mb-4" placeholder="L'adresse de mon restaurant ici">
                </div>        
             <!--ville-->
                <div class="form-group">
                        <label>Ville*</label>
                            <input type="text"  class="form-control mb-4" placeholder="Votre ville ici">
                </div>
             <!--code postal-->
                <div class="form-group">
                        <label>Code postal*</label>
                            <input type="number"  class="form-control mb-4" placeholder="Votre code postal ici">
                </div>
             <!--numéro-->
                <!-- <div class="form-group">
                        <label>Numéro du restaurant*</label>
                            <input type="number"  class="form-control mb-4" placeholder="Numéro du restaurant">
                </div> -->
             <!--spécialités-->
                <div class="form-group">
                        <label>Spécialités culinaires*</label>
                            <select class="browser-default custom-select">
                                <option selected>Japonais</option>
                                <option value="1">chinois</option>
                                <option value="2">Burgers</option>
                                <option value="3">indien-pakistanais</option>
                                <option value="4">libanais</option>
                                <option value="5">creperies</option>
                                <option value="6">Africain</option>
                                <option value="7">Pizza, Italien</option>
                                 <option value="8">autres spécialités</option>
                            </select>
                </div>
           
             <!--livraison-->
                <div class="form-group">
                        <label>Proposez vous de la livraison actuellement* ?</label>
                            <select class="browser-default custom-select" >
                                <option selected>Livraison et à emporter</option>
                                <option value="1">Non je ne propose pas de service de livraison</option>
                                <option value="2">oui j'ai mon propre service de livraison</option>
                            </select>
          
                </div>
                <div class="form-group">
                    <label>Combien de livreurs avez-vous le week-end* ?</label>
                        <select class="browser-default custom-select" >
                            <option selected>--None--</option>
                            <option value="1">1 à 2</option>
                            <option value="2">3 à 4</option>
                            <option value="3">5 à 10</option>
                            <option value="4">10 ou plus</option>
                        </select>
      
                 </div>
             <!--montant min-->
                <!-- <div class="form-group">
                        <label>Montant minimal d'une commande*</label>
                            <input type="text" class="form-control mb-4" placeholder="Montant min d'une commande ">
                </div> -->
              <!-- Sign in button -->
               <button mdbBtn color="info" block="true" class="my-2" type="submit">Soumettre</button>       
            </form>
        </div>
    </div>
</div>
        