



<!-- Footer Links -->
<footer class="page-footer font-small blue-grey lighten-5">

        <div style="background-color: #d0cdd1af;">
          <div class="container">
<div class="container text-center text-md-left mt-5">
      
        <!-- Grid row -->
        <div class="row mt-3 dark-grey-text">
    
          
    
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
    
            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Spécialités</h6>
            <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <a class="dark-grey-text" href="#!">Pizza</a>
            </p>
            <p>
              <a class="dark-grey-text" href="#!">Japonais</a>
            
            </p>
            <p>
                    <a class="dark-grey-text" href="#!">Burger</a>
                  
                  </p>
                  <p>
                        <a class="dark-grey-text" href="#!">Indien-Pakistanais</a>
                      
                      </p>
                      <p>
                            <a class="dark-grey-text" href="#!">Chinois</a>
                          
                          </p>
                          <p>
                                <a class="dark-grey-text" href="#!">KFC</a>
                              
                              </p>
                              <p>
                                    <a class="dark-grey-text" href="#!">Nos chaines</a>
                                  
                                  </p>
                                  <p>
                            <a class="dark-grey-text" href="#!">Plus de spécialité</a>
                          
                          </p>
          </div>
          <!-- Grid column -->
    
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
    
            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Villes</h6>
            <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            
                <p>
                        
                        <a class="image-brand" routerLink="/paris"><strong>paris </strong></a>
                 </p>
          <!-- Links -->
                 <p>
                        <a class="navbar-brand" href="/"><strong>Marseille </strong></a>
                      
                 </p>
          
                 <p>
                        <a class="navbar-brand" href="/"><strong>nantes </strong></a>
                      
                 </p>
                 <p>
                     <a class="navbar-brand" href="/"><strong>Toulouse</strong></a>
                      
                 </p>
          
          
                 <p>
                        <a class="navbar-brand" href="/"><strong>Bordeau</strong></a>
                      
                 </p>
          
                 <p>
                        <a class="navbar-brand" href="/"><strong>Strasbourg</strong></a>
                      
                 </p>
          
                    <p>
                            <a class="navbar-brand" href="/"><strong>Montpellier </strong></a>
                          
                     </p>
                     <p>
                            <a class="navbar-brand" href="/"><strong>Toutes les villes</strong></a>
                          
                     </p>
              
              
            
            -->
    
          </div>
          <!-- Grid column -->
    
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
    
            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">A propos de nous </h6>
            <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
                    <a class="dark-grey-text" href="#!">Qui sommes-nous?</a>
                  
             </p>
      
             <p>
                    <a class="dark-grey-text" href="#!">CGV</a>
                  
             </p>
             <p>
                    <a class="dark-grey-text" href="#!">Mentions légales </a>
                  
             </p>
             <p>
                    <a class="dark-grey-text" href="#!">Politique de confidentialité</a>
                  
             </p>
             <p>
                    <a class="dark-grey-text" href="#!">Cookies</a>
                  
             </p>
             <p>
                    <a class="dark-grey-text" href="#!">Suggérez-nous un resto</a>
                  
             </p>
      
             <p>
                    <a class="dark-grey-text" href="#!">Aide-FAQ</a>
                  
             </p>
             <p>
                    <a class="dark-grey-text" href="#!">Meilleur Prix Livré</a>
                  
             </p>
             <p>
                    <a class="dark-grey-text" href="#!">Rejoignez-nous</a>
                  
             </p>
      
             <p>
                    <a class="dark-grey-text" href="#!">Le blog ......</a>
                  
             </p>
      
            
    
          </div>
          <!-- Grid column -->
    
        </div>
        <!-- Grid row -->
        <div class="col-md-5 col-lg-3 col-xl-4 mx-auto mb-md-0 mb-4">
        <button >
            
                 <a>souhaitez inscrire votre restorant Sur notre site</a>  
                <p class="pb-3"></p>                  
                                     
                
                      <a >Cliquez ici pour nous contacter</a>
                
                </button>
        </div>


        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
    
                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold"></h6>
                <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                
                    <p>
                            <a class="dark-grey-text" href="#!"> Vous travaillez déja avec nous?</a>
                            <a routerLinkActive="active"><a> Retrouvez plusieurs conseils pour booster vos commandes</a></a>
                            
                          
                     </p>
        </div>





      </div>
      <!-- Footer Links -->
    
      <!-- Copyright -->
      
      <!-- Copyright -->
      
          </div>
          
        </div>
        
        </footer>
    
