
            
<div class= "container d-flex flex-warp">
<div class="col-md-4 mb-4">
     
        
      <li routerLinkActive="active"><a routerLink="/paris"> 

        <div class= "card card-image" style="background-image: url(./assets/paris.jpg);height: 200px;background-size:99.5%">
            <div class ="text-white text-center py-5 px-4"style="height:100%;background-color:rgba(0,0,0,0.5)">
        
                    <h4>paris</h4>
                 </div>  
                </div> 
        <p><img src="assets/paris.jpg"style="height:200px;width:150px"/></p></a>
       
    
    
    
</li>
      

      
               <br>
               <br>
               <br>
               <br>

 
           
         </div>
        
         
                         <div class="col-md-4 mb-4">
                                
                                   
                                      <li routerLinkActive="active"><a routerLink="/paris"> <p><img src="assets/marseille.jpg"style="height:200px;width:150px"/>
       
                                      </p></a></li>
                                 
                                               <br>
                                               <br>
                                               <br>
                                               <br>
                                
                                             
                                         </div>
                                         <div class="col-md-4 mb-4">
                                                
                                                      
                                                      <li routerLinkActive="active"><a routerLink="/paris"> <p><img src="assets/nantes.jpg"style="height:200px;width:150px"/>
       
                                                      </p></a></li>
                                 
                                                 
                                                               <br>
                                                               <br>
                                                               <br>
                                                               <br>
                                                
                                                             
                                                         </div>
                                                         
                                        </div>