<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <!-- Default form signup -->
      <form class="border border-light p-5">
        <p class="h4 mb-4">Inscription</p>

        <div class="icon button">
          <a
            button
            mdbBtn
            type="button"
            block="true"
            outline="true"
            color="default"
            mdbWavesEffect
          >
            <mdb-icon fab icon="google"></mdb-icon> S'inscrire avec google
          </a>
          <a
            button
            mdbBtn
            type="button"
            block="true"
            class="my-2"
            outline="true"
            color="default"
            mdbWavesEffect
          >
            <mdb-icon fab icon="facebook"></mdb-icon> S'inscrire avec facebook
          </a>
        </div>

        <div class="row">
          <div class="col-lg-5">
            <hr />
          </div>
          <div class="col-lg-1 text-center">ou</div>
          <div class="col-lg-5">
            <hr />
          </div>
        </div>

        <input type="text" class="form-control mb-4" placeholder="Prénom" />

        <input type="text" class="form-control mb-4" placeholder="Nom" />
        <!-- Email -->
        <input
          type="email"
          id="defaultLoginFormEmail"
          class="form-control mb-4"
          placeholder="E-mail"
        />

        <!-- Password -->
        <input
          type="password"
          id="defaultLoginFormPassword"
          class="form-control mb-4"
          placeholder="Mot de passe"
        />

        <!-- Default unchecked -->
        <mdb-checkbox [default]="true"
          >Si vous ne souhaitez pas recevoir des réductions super alléchantes ou
          de délicieuses offres exclusives, cochez cette case</mdb-checkbox
        >

        <!-- Sign in button -->
        <button mdbBtn color="info" block="true" class="my-4" type="submit">
          s'inscrire
        </button>

        <p class="text-center">
          vous avez déja un compte?
          <a routerLink="/signin" routerLinkActive="active">connexion</a>
        </p>
      </form>
    </div>
  </div>
</div>
