
  <!-- Grid row -->
<!-- Grid row -->
<nav class="mb-1 navbar navbar-expand-lg navbar-light bg-white fixed-top ">
    <a class="navbar-brand font-weight-bold text-danger" href="#">
     AloResto
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
      aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="breadcrumb-dn mr-auto">
      </div>
      <ul class="nav navbar-nav nav-flex-icons ml-auto ">
        <li class="nav-item">
          <a class="nav-link"><span class="clearfix d-none d-sm-inline-block">Se Connecter</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"> <span class="clearfix d-none d-sm-inline-block">S'inscrire</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"> <span class="clearfix d-none d-sm-inline-block">Aide</span></a>
        </li>
        <li class="nav-item">
         
              <button type="button" class="btn btn-outline-default btn-rounded waves-effect"><i class="fas fa-shopping-basket fa-lg"
                aria-hidden="true"></i> 0,00 €</button>
        </li>
      </ul>
    </nav>
  <!-- Grid row -->
