<h2 class="entitle">S'inscrire en tant que</h2>
<div class ="container choose">
<div class="row align-items-center">
    <div class="col">
      <div class="btn "  aria-label="Basic example">
        
        <a routerLink="sign up /:client" routerLinkActive="active">
            <button mdbBtn type="button"  color="primary" mdbWavesEffect>client</button>
        </a>
      </div>
      <div class="btn "  aria-label="Basic example">
        
        <a routerLink="sign up /:restaurateur" routerLinkActive="active">
            <button mdbBtn type="button"  color="primary" mdbWavesEffect>restaurateur</button>
        </a>
      
      </div>
    </div>
  </div>
</div>
