    <app-navbar></app-navbar>
    <div class="container"  background="assets/b42iYx.png" height="50%" >
       
        <div class="container text-center white-text" >
                        <div class="full-bg-img">
                                        <div class="mask rgba-black-light flex-center">
                                            <div class="white-text text-center wow fadeInUp">
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <br>
<h4>Commander en un clic</h4>
<p>   Originally, the rewrite of AngularJS was called "Angular 2" by the team, but this led to confusion among developers. To clarify, the team announced that separate terms should be used for each framework with "AngularJS" referring to the 1.X versions and "Angular" without the "JS" referring to versions 2 and up.[8] 
                        Version 2[edit]
                        Angular 2.0 was announced at the ng-Europe conference 22–23. October 2014.[9][10] The drastic changes in the 2.0 version created considerable controversy among developers.[11] On April 30, 2015, the Angular developers announced that Angular 2 moved from Alpha to Developer Preview.[12] Angular 2 moved to Beta in December 2015,[13] and the first release candidate was published in May 2016.[14] The final version was released on September 14, 2016. 
                        Version 4[edit]
                        On 13 December 2016 Angular 4 was announced, skipping 3 to avoid a confusion due to the misalignment of the router package's version which was already distributed as v3.3.0.[15] The final version was released on March 23, 2017.[16] Angular 4 is backward compatible with Angular 2.[17] 
                        Angular version 4.3 is a minor release, meaning that it contains no breaking changes and that it is a drop-in replacement for 4.x.x. 
                        Features in version 4.3 
                        Introducing HttpClient, a smaller, easier to use, and more powerful library for making HTTP Requests.
                        New router life cycle events for Guards and Resolvers. Four new events: GuardsCheckStart, GuardsCheckEnd, ResolveStart, ResolveEnd join the existing set of life cycle event such as NavigationStart.
                        Conditionally disable animations.
                        Version 5[edit]
                        Angular 5 was released on November 1, 2017.[18] Key improvements in Angular 5 include support for progressive web apps, a build optimizer and improvements related to Material Design.[19] 
                        Version 6[edit]
                        Angular 6 was released on May 4, 2018.[20]. This is a major release focused less on the underlying framework, and more on the toolchain and on making it easier to move quickly with Angular in the future, like: ng update, ng add, Angular Elements, Angular Material + CDK Components, Angular Material Starter Components, CLI Workspaces, Library Support, Tree Shakable Providers, Animations Performance Improvements, and RxJS v6. 
                        Version 7[edit]
                        Angular 7 was released on October 18, 2018. Updates regarding Application Performance, Angular Material & CDK, Virtual Scrolling, Improved Accessibility of Selects, now supports Content Projection using web standard for custom elements, and dependency updates regarding Typescript 3.1, RxJS 6.3, Node 10 (still supporting Node 8).[21] 
                        Version 8[edit]
                        Angular 8 was released on May 28, 2019. Featuring Differential loading for all application code, Dynamic imports for lazy routes, Web workers, TypeScript 3.4 support, and Angular Ivy as an opt-in preview. Angular Ivy opt-in preview includes:[22] 
                        Generated code that is easier to read and debug at runtime
                        Faster re-build time
                        Improved payload size
                        Improved template type checking
                        Backwards compatibility
                        riginally, the rewrite of AngularJS was called "Angular 2" by the team, but this led to confusion among developers. To clarify, the team announced that separate terms should be used for each framework with "AngularJS" referring to the 1.X versions and "Angular" without the "JS" referring to versions 2 and up.[8] 
                        Version 2[edit]
                        Angular 2.0 was announced at the ng-Europe conference 22–23. October 2014.[9][10] The drastic changes in the 2.0 version created considerable controversy among developers.[11] On April 30, 2015, the Angular developers announced that Angular 2 moved from Alpha to Developer Preview.[12] Angular 2 moved to Beta in December 2015,[13] and the first release candidate was published in May 2016.[14] The final version was released on September 14, 2016. 
                        Version 4[edit]
                        On 13 December 2016 Angular 4 was announced, skipping 3 to avoid a confusion due to the misalignment of the router package's version which was already distributed as v3.3.0.[15] The final version was released on March 23, 2017.[16] Angular 4 is backward compatible with Angular 2.[17] 
                        Angular version 4.3 is a minor release, meaning that it contains no breaking changes and that it is a drop-in replacement for 4.x.x. 
                        Features in version 4.3 
                        Introducing HttpClient, a smaller, easier to use, and more powerful library for making HTTP Requests.
                        New router life cycle events for Guards and Resolvers. Four new events: GuardsCheckStart, GuardsCheckEnd, ResolveStart, ResolveEnd join the existing set of life cycle event such as NavigationStart.
                        Conditionally disable animations.
                        Version 5[edit]
                        Angular 5 was released on November 1, 2017.[18] Key improvements in Angular 5 include support for progressive web apps, a build optimizer and improvements related to Material Design.[19] 
                        Version 6[edit]
                        Angular 6 was released on May 4, 2018.[20]. This is a major release focused less on the underlying framework, and more on the toolchain and on making it easier to move quickly with Angular in the future, like: ng update, ng add, Angular Elements, Angular Material + CDK Components, Angular Material Starter Components, CLI Workspaces, Library Support, Tree Shakable Providers, Animations Performance Improvements, and RxJS v6. 
                        Version 7[edit]
                        Angular 7 was released on October 18, 2018. Updates regarding Application Performance, Angular Material & CDK, Virtual Scrolling, Improved Accessibility of Selects, now supports Content Projection using web standard for custom elements, and dependency updates regarding Typescript 3.1, RxJS 6.3, Node 10 (still supporting Node 8).[21] 
                        Version 8[edit]
                        Angular 8 was released on May 28, 2019. Featuring Differential loading for all application code, Dynamic imports for lazy routes, Web workers, TypeScript 3.4 support, and Angular Ivy as an opt-in preview. Angular Ivy opt-in preview includes:[22] 
                        Generated code that is easier to read and debug at runtime
                        Faster re-build time
                        Improved payload size
                        Improved template type checking
                        Backwards compatibility</p>
                      </div>
                </div>
        </div>
</div>

                     
</div> 
   
              
        
       
                    

        
  

