<section class="section-preview" style="border:1px solid #e0e0e0;padding: 15px;margin-bottom: 15px;">              
    <div class="row">
        <div class="col-sm-3">
            <img src="../../assets/images/image_burger.jpg" alt="image_restaurant" class="img-fluid" width="">
        </div>
            
        <div class="col-sm-9">
            <h3>{{ name }}</h3>
            <p>{{ adresse }}</p>
            <p>{{ specialite }}</p>
            <p> {{ takes }} </p>
        </div>
    </div>
    <div class="input-group mb-3">

            <nav class-go="menuDetails buttonBox">
                    <button  type="submit" mdbBtn color="primary" mdbWavesEffect size="md" class="m-0 px-3 py-2" id="button-addon2"><a href="" class="buttonLarge">La carte</a></button>
                    
                
            </nav>
    
            
    </div>
</section>

