<section class="section-preview" style="border:1px solid #e0e0e0;padding: 15px;margin-bottom: 15px;">              
    <div class="row">
        <div class="col-sm-3">
            <img src="../../assets/images/image_burger.jpg" alt="image_restaurant" class="img-fluid" width="">
        </div>
            
        <div class="col-sm-9">
            <h3>{{ name }}</h3>
            <p>{{ adresse }}</p>
            <p>{{ specialite }}</p>
            <p> {{ takes }} </p>
        </div>
    </div>
</section>