<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
     
          <!-- Default form login -->
      <form novalidate [formGroup]="connectForm"  (ngSubmit)="onSubmit(connectForm)" class="border border-light p-5">
      
            <p class="h4 mb-4"> Connexion</p>
              <div class="icon button" >
                 <a button mdbBtn type="button" block="true" outline="true" color="primary" mdbWavesEffect>
                      <mdb-icon fab icon="facebook"></mdb-icon> se connecter avec facebook
                 </a>
                 <a button mdbBtn type="button" block="true" class="my-2" outline="true" color="primary" mdbWavesEffect>
                      <mdb-icon fab icon="google"></mdb-icon> se connecter avec google
                 </a>
              </div>
               <div class="row">
                <div class="col-lg-5"> <hr> </div>
                <div class="col-lg-1 text-center"> ou </div>
                <div class="col-lg-5"> <hr> </div>
             </div>   
             
          <!-- Email -->
          <div formGroupName="account" class="form-group">
            <label for="email">Adresse mail*</label>
                <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Votre adresse mail ici" formControlName="email">
          </div>
           <div 
          *ngIf="connectForm.get('account').get('email').hasError('required') && connectForm.get('account').get('email').touched" class="alert alert-danger">
              
                     email is required.
              
        </div>

          <!-- Password -->
          <div formGroupName="account" class="form-group">
            <label for="password">Mot de passe*</label>
                <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Votre mot de passe ici" formControlName="password">
          </div>
           <div 
          *ngIf="connectForm.get('account').get('password').hasError('required') && connectForm.get('account').get('password').touched" class="alert alert-danger">
                     password is required.
        </div>

              <div class="d-flex justify-content-around">
                   <div>
                    <!-- Remember me -->
                    <mdb-checkbox [default]="true">Se rappeller de moi</mdb-checkbox>
                  </div>
                  <div>
                    <!-- Forgot password -->
                    <a href="">Mot de passe oublié?</a>
                  </div>
              </div>
        
            <!-- Sign in button -->
                <button [disabled]="connectForm.pristine || connectForm.invalid" mdbBtn color="primary" block="true" class="my-4" type="submit">Se connecter</button>
                
             <!-- Register -->
              <p class="text-center">Vous n'avez pas de compte?
                   <a routerLink="/signup-client" routerLinkActive="active" >S'inscrire</a>
             </p>
           <!-- Default form login -->
      </form>  
    </div>
 </div>
</div>