<div class="">

<div class="container resto-list">
        <h3 class="text-center">Vos restaurants à {{address}} </h3>
        <hr>
        <div class="row">
            <div class="col-sm-3" id="divOptionTri">
                <p class="">Options de tri : </p>
                <hr>
                <p>Livraison ou à emporter</p>
                <!-- {{list_resto}} -->

                <div class="custom-control custom-radio">
                    <!-- <input type="radio" id="delivry_choice_no_take_away" [(ngModel)]="searchRadio" routerLink="resto-list/no_take_away" name="customRadio" value="no_take_away" class="custom-control-input"> -->
                    <input type="radio" id="delivry_choice_no_take_away" (click)="onGetNoTakeAway($event.target.value)" name="customRadio" value="no_take_away" checked class="custom-control-input">
                    <label class="custom-control-label" for="delivry_choice_no_take_away">livraison</label>
                </div>
            
                <div class="custom-control custom-radio">
                    <!-- <input type="radio" id="delivry_choice_take_away" [(ngModel)]="searchRadio" routerLink="resto-list/take_away" name="customRadio" value="take_away" class="custom-control-input"> -->
                    <input type="radio" id="delivry_choice_take_away" (click)="onGetTakeAway($event.target.value)" name="customRadio" value="take_away" class="custom-control-input">
                    <label class="custom-control-label" for="delivry_choice_take_away">à emporter</label>
                </div>

                <hr>
                <p>Specialité</p>
                
                <select (change)="onGetSpeciality($event.target.value)" class="browser-default custom-select">
                    <option selected>Toutes les specialités</option>
                    <option value="1">Pizza</option>
                    <option value="2">Poison fumée</option>
                    <option value="3">Aloko</option>
                </select>
            </div>
    
    
    
            <div class="col-sm-9">
                <!-- Form -->
                <form id="formSearchRestaurantById" class="" style="color: #757575;">
                    <!-- Name -->
                    <div class="md-form mt-3">
                        <input type="text" id="inputSearchRestaurantByName" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}" name="" class="form-control" mdbInput>
                        <label for="inputSearchRestaurantByName">Rechercher un restaurant ...</label>
                    </div>
                </form>
                <!-- {{list_resto}} -->
                <!-- | filter-speciality: searchRadio:'takes'  -->
                <ul>
                    <li>
                        <app-resto-list-item  *ngFor="let resto of list_resto | filter : searchText:'name' "
                            [name]="resto.name"
                            [adresse]="resto.adresse"
                            [specialite]="resto.specialite"></app-resto-list-item>
                    </li>
                    
                </ul>
                
            </div>
        </div>
    </div>
</div>

