/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.intro-2 {
  background: url("https://mdbootstrap.com/img/Photos/Others/img (40).jpg")no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.navbar {
  background-color: transparent;
}

.top-nav-collapse {
  background-color: #6351ce;
}

@media only screen and (max-width: 768px) {
  .navbar {
      background-color: #6351ce;
  }
}
