/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main-page {
  background: url("./assets/main_page_pic.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}

.navbar .nav-link.active {
  background-color: transparent;
}

.nav-item .help {
  color: white !important;
}

.navbar {
  background-color: #6351ce;
  //#6610f2
  //#6f42c1
}

.top-nav-collapse {
  background-color: #6351ce;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #6351ce;
  }
}
