<div class="form-search">
          <h1> c'est bon de commander</h1>
          <p class="h4 mb-4">Trouvez les meilleurs restaurants près de chez vous</p>
<form class="text-center" method="GET" action="" (ngSubmit)="onSubmit()" role="" [formGroup]="searchForm">
          
  <div class="input-group mb-3">
    <input ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" formControlName="adresse" type="text" class="form-control" placeholder="Enter an address" aria-label="Enter an address" aria-describedby="button-addon2">
    <div class="input-group-append">         
     <button  type="submit" mdbBtn color="primary" mdbWavesEffect size="md" class="m-0 px-3 py-2" id="button-addon2">Commander</button>
    </div>
      
  </div>
</form>
</div>

