h1{
    color: red;
    text-align: center;
}
.form-search{
    width: 800px;
    border: 10px solid rgba(255, 245, 245, 0.418) ;
    padding: 20px;
   background-color: #fafafa;
   margin: auto;
    
}