h1{
    color: red;
    text-align: center;
}
.form-search{
    width: 800px;
    padding: 20px;
   background-color: rgba(255, 255, 255,1.0);
   margin: auto;
   border-radius: 10px;
   box-shadow: 1px 1px 5px #555; 
   margin-top: 70px;
}