.title {
  text-align: center;
  color:#222;
  text-transform: capitalize;
  margin-top: 20px;
  font-weight: bold;
  margin-bottom: 50px;
}

.spacialities{
  margin: 0 auto;
  // box-shadow: 10px 10px 10px 1px #555;
  width: 100%;
  align-content: center;
}



