<h2 class="title">spécialités populaires</h2>
<div class="container spacialities">
    <div class="row row-b">
     <!-- Grid column -->
        <div class="col-lg-3 col-md-4 mb-3">
            <a routerLink="/list-restaurant/:address/:speciality" routerLinkActive="active">
            <div class="view zoom">
                <img src="/assets/specialities/agneau.jpg" class="img-fluid" alt="placeholder">
                <div class="mask flex-center waves-effect waves-light rgba-red-light">
                    <p class="white-text">agneau</p>
                </div>
            </div>
             </a>
        </div>

        <div class="col-lg-3 col-md-4 mb-3">
          <a href="">

            <div class="view zoom">
            <img src="/assets/specialities/burger.jpeg" class="img-fluid" alt="placeholder">
            <div class="mask flex-center waves-effect waves-light rgba-red-light">
              <p class="white-text">burger</p>
            </div>
          </div>
          </a>
        </div>

        <div class="col-lg-3 col-md-4 mb-3">
            <a href="">
            <div class="view zoom">
              <img src="/assets/specialities/chinois.jpg" class="img-fluid" alt="placeholder">
                <div class="mask flex-center waves-effect waves-light rgba-red-light">
              <p class="white-text">chinois</p>
                </div>

            </div>
            </a>
        </div>
     <!-- Grid column -->
    </div>

    <div class="row row-b">

        <div class="col-lg-3 col-md-4 mb-3">
            <a href="">
            <div class="view zoom">
                  <img src="/assets/specialities/japonais.jpg" class="img-fluid" alt="placeholder">
                <div class="mask flex-center waves-effect waves-light rgba-red-light">
                  <p class="white-text">japonais</p>
                </div>

            </div>
            </a>
        </div>

        <div class="col-lg-3 col-md-4 mb-3">
            <a href="">
            <div class="view zoom">
                   <img src="/assets/specialities/nems.jpg" class="img-fluid" alt="placeholder">
                <div class="mask flex-center waves-effect waves-light rgba-red-light">
                   <p class="white-text">nems</p>
                </div>

            </div>
            </a>
        </div>

        <div class="col-lg-3 col-md-4 mb-3">
            <a href="">
            <div class="view zoom">
                  <img src="/assets/specialities/pizza.jpg" class="img-fluid" alt="placeholder">
                <div class="mask flex-center waves-effect waves-light rgba-red-light">
                  <p class="white-text">pizza</p>
                </div>

            </div>
        </a>
        </div>
    </div>

    <div class="row row-b">
        <div class="col-lg-3 col-md-4 mb-3">
            <a href="">
            <div class="view zoom">
                <img src="/assets/specialities/pondu.jpg" class="img-fluid" alt="placeholder">
                <div class="mask flex-center waves-effect waves-light rgba-red-light">
                  <p class="white-text">pondu</p>
                </div>

            </div>
            </a>
        </div>

        <div class="col-lg-3 col-md-4 mb-3">
            <a routerLink="/list-restaurant/:adresse" routerLinkActive="active">
            <div class="view zoom">
                  <img src="/assets/specialities/sandwich.jpg" class="img-fluid" alt="placeholder">
                <div class="mask flex-center waves-effect waves-light rgba-red-light">
                  <p class="white-text">sandwich</p>
                </div>

            </div>
            </a>
        </div>

        <div class="col-lg-3 col-md-4 mb-3">
            <a href="">
            <div class="view zoom">
                  <img src="/assets/specialities/poulet.jpg" class="img-fluid" alt="placeholder">
                <div class="mask flex-center waves-effect waves-light rgba-red-light">
                  <p class="white-text">poulet</p>
                </div>

            </div>
           </a>
        </div>
    </div>

</div>




