<h2 class="my-4 font-weight-bold text-capitalize text-center">
  spécialités populaires
</h2>
<div class="container">
  <div class="row justify-content-md-center">
    <!-- Grid column -->
    <div class="col-lg-3 col-md-4 mb-3">
      <a
        routerLink="/list-restaurant/:address/:speciality"
        routerLinkActive="active"
      >
        <div class="view zoom">
          <img
            src="/assets/pictures/amis-hours.jpg"
            class="img-fluid rounded"
            alt="placeholder"
          />
          <div class="mask flex-center waves-effect waves-light ">
            <p class="white-text">amis-hours</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-3 col-md-4 mb-3">
      <a
        routerLink="/list-restaurant/:address/:speciality"
        routerLinkActive="active"
      >
        <div class="view zoom">
          <img
            src="/assets/pictures/burger.webp"
            class="img-fluid rounded"
            alt="placeholder"
          />
          <div class="mask flex-center waves-effect waves-light ">
            <p class="white-text">burger</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-3 col-md-4 mb-3">
      <a
        routerLink="/list-restaurant/:address/:speciality"
        routerLinkActive="active"
      >
        <div class="view zoom">
          <img
            src="/assets/pictures/indien.webp"
            class="img-fluid rounded"
            alt="placeholder"
          />
          <div class="mask flex-center waves-effect waves-light ">
            <p class="white-text">indien</p>
          </div>
        </div>
      </a>
    </div>
    <!-- Grid column -->
  </div>

  <div class="row justify-content-md-center">
    <div class="col-lg-3 col-md-4 mb-3">
      <a
        routerLink="/list-restaurant/:address/:speciality"
        routerLinkActive="active"
      >
        <div class="view zoom">
          <img
            src="/assets/pictures/japonais.webp"
            class="img-fluid rounded"
            alt="placeholder"
          />
          <div class="mask flex-center waves-effect waves-light ">
            <p class="white-text">japonais</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-3 col-md-4 mb-3">
      <a
        routerLink="/list-restaurant/:address/:speciality"
        routerLinkActive="active"
      >
        <div class="view zoom">
          <img
            src="/assets/pictures/pizza.webp"
            class="img-fluid rounded"
            alt="placeholder"
          />
          <div class="mask flex-center waves-effect waves-light ">
            <p class="white-text">pizza</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-3 col-md-4 mb-3">
      <a
        routerLink="/list-restaurant/:address/:speciality"
        routerLinkActive="active"
      >
        <div class="view zoom">
          <img
            src="/assets/pictures/poulet-roti.webp"
            class="img-fluid rounded"
            alt="placeholder"
          />
          <div class="mask flex-center waves-effect waves-light ">
            <p class="white-text">poulet-roti</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
